<%-# Review form displays only to logged in users -%>
<% if current_user %>
  <div class=review-form>
  <%= form_for [@project, @review], html: { multipart: true } do |form| %>

    <%= form.label :rating %>

    <div id="rating">
    <svg class="star" id="1" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
      <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
    </svg>
    <svg class="star" id="2" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
      <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
    </svg>
    <svg class="star" id="3" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
      <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
    </svg>
    <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
      <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
    </svg>
    <svg class="star" id="5" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #808080;">
      <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
    </svg>
  </div>

    <%= form.select(:rating) do %>
      <% [5, 4, 3, 2, 1].each do |c| -%>
        <%= content_tag(:option, c, value: c) %>
      <% end %>
    <% end %>

    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>

    <%= form.label :time %>
    <%= form.text_area :time, class: 'form-control' %>

    <%= form.label :cost %>
    <%= form.text_area :cost, class: 'form-control' %>

    <%= form.fields_for :review_uploads, ReviewUpload.new do |ff| %>
      <%= ff.label :image %><br>
      <%= ff.file_field :image_url, :multiple => true, name: "review[review_uploads_attributes][][image_url]" %>
    <% end %>

    <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
  <% end %>
<% end %>
</div>