
<article class="project_thumbnail">
  <div class="thumbnail_content">
    <div class="title"
      <h3><%= link_to project.title, project_path(project.id) %></h3>
    </div>
    <div class="img-container">
      <a class="thumbnail-over" href="<%= project_path(project.id) %>">
        <% if project.project_uploads.blank? %>
          <p>No image for this project</p>
        <% else %>
          <%= image_tag project.project_uploads[0].image_url, class: "thumbnail_lg" %>
        <% end %>
      </a>
    </div>
    <footer>
      <ul class="icon_group">
        <li class="rating">
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <%= project.reviews.average(:rating).to_i %>
        </li>
        <li class="rating_count">(<%= project.reviews.length %>)</li>
        <li class="favourite"><i class="fa fa-bookmark-o" aria-hidden="true"></i>
        (<%= project.project_statuses.saved.length %>)</li>
      </ul>
    </footer>
   </div>
</article>
