<Article>
  <% if current_user && current_user.id == review.user_id %>
    <%= link_to fa_icon('trash'), [review], class: 'btn btn-sm btn-danger review-delete pull-right', method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

  <dl>
    <dt>By <%= review.user.first_name %> <%= review.user.last_name %></dt>
    <dd>Content: <%= review.content %></dd>
    <dd>Time (hours): <%= review.time %></dd>
    <dd>Cost (dollars): <%= review.cost %></dd>
    <dd>
      <% if review.review_uploads.any? %>
        <% review.review_uploads.each do |img|%>
          <%= image_tag img.image_url.thumb.url %>
        <% end %>
      <% else %>
        <p><em>no images for this review</em></p>
      <% end %>
    </dd>
  </dl>
</Article>

