<article class="project-page">
  <div class="project-content">

    <div class="top-page">
      <div class="user-project-info">
        <div class="user-picture"> user pic </div>
        <div class="project-title"> project title </div>
        <div class="project-by"> by alvin time stamp </div>
      </div>
    </div>

    <div class="middle-page">
      <div class="shots">
        <div class="project-pictures">
          <%= link_to root_path do %>
          <%= image_tag "http://www.hillwoodproducts.com/wp-content/uploads/2015/03/wood1.jpg", class: "main-project-img" %>
          <% end %>
          
          <div class="attach-pictures">
            <%= link_to root_path do %>
            <%= image_tag "https://static.pexels.com/photos/172292/pexels-photo-172292.jpeg", class: "sub-project-img" %>
            <% end %>

            <%= link_to root_path do %>
            <%= image_tag "https://static.pexels.com/photos/139312/pexels-photo-139312.jpeg", class: "sub-project-img" %>
            <% end %>

            <%= link_to root_path do %>
            <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFedLwRl4DpUEIpnDSFBSlpFFuYvCd8g8KQ4RwnP1tLgcdSHomSg", class: "sub-project-img" %>
            <% end %>

            <%= link_to root_path do %>
            <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Taxus_wood.jpg/220px-Taxus_wood.jpg", class: "sub-project-img" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="right-side">

        <div class="complete-check">
          <h4> Complete! </h4>
        </div>

        <div class="share-bar">
          <button class="button" type="button" data-toggle="example-dropdown-1">Share</button>
          <div class="dropdown-pane" id="example-dropdown-1" data-dropdown data-hover="true" data-hover-pane="true">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
          </div>
        </div>

        <div class="ratings">
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i> 
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          (4.7)
        </div>

        <div class="completed-number">
          <i class="fa fa-wrench" aria-hidden="true">(30)</i>
        </div>

        <div class="favourites">
          <i class="fa fa-bookmark-o" aria-hidden="true">(149)</i>
        </div>

        <div class="related-project-pictures">
        </div>

        <div class="tags">
        <h4> #wood #morewood #evenmorewood #woodworks </h4>
        </div>
        <div class="related-project-pictures">
          <%= link_to root_path do %>
          <%= image_tag "https://static.pexels.com/photos/172292/pexels-photo-172292.jpeg", class: "sub-project-img" %>
          <% end %>

          <%= link_to root_path do %>
          <%= image_tag "https://static.pexels.com/photos/139312/pexels-photo-139312.jpeg", class: "sub-project-img" %>
          <% end %>

          <%= link_to root_path do %>
          <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFedLwRl4DpUEIpnDSFBSlpFFuYvCd8g8KQ4RwnP1tLgcdSHomSg", class: "sub-project-img" %>
          <% end %>

          <%= link_to root_path do %>
          <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Taxus_wood.jpg/220px-Taxus_wood.jpg", class: "sub-project-img" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="bottom-page">
      <div class="project-summary">
        <h4> Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood  Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood
        Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood Wood </h4>
      </div>

      <div class="project-tabs">
        <div class ="project-tabs instructions"> instructions </div>
        <div class ="project-tabs reviews"> reviews </div>
        <div class ="project-tabs tip-comments"> tip-comments </div>
      </div>
    </div>

</article>