<ul>
  <li><a id="create_project" class="button">Create your own</a></li>
  <li class="divider"></li>
  <li><a id="external_link" class="button">Add a link</a></li>
</ul>

<!-- Form for User-Created Project -->
<div id="create_project_toggle" class="row">
  <%= form_for @project, html: { multipart: true } do |f| %>

    <div class="small-12 columns">
      <%= f.fields_for :project_uploads, ProjectUpload.new do |ff| %>
        <div class="field">
          <%= ff.label :image %><br>
          <%= ff.file_field :image_url, :multiple => true, name: "project[project_uploads_attributes][][image_url]" %>
        </div>
      <% end %>
    </div>

    <div class="small-12 columns">
      <label>Title</label>
      <%= f.text_field :title , placeholder: "Title" %>
    </div>

    <div class="small-12 columns">
      <label>Summary</label>
        <%= f.text_field :summary , placeholder: "Summary" %>
    </div>

    <div class="small-12 columns">
      <label>Instructions</label>
        <%= f.text_field :instructions , placeholder: "Instructions" %>
    </div>

    <div class="small-12 columns">
      <label>Materials</label>
        <%= f.text_field :material , placeholder: "Materials" %>
    </div>

    <div class="small-12 columns">
      <label>Time</label>
        <%= f.text_field :time , placeholder: "Time" %>
    </div>

    <div class="small-12 columns">
      <label>Cost</label>
        <%= f.text_field :cost , placeholder: "Cost" %>
    </div>

    <!-- Form for project tags -->
    <div class='field'>
      <%= f.label :tag_list, "Tags" %><br />
      <%= f.text_field :tag_list, value: f.object.tag_list.to_s %>
    </div>

    <div class="small-12 columns">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>

<!-- Form for External Link Project -->
<div id="external_link_toggle" class="row">
  <%= form_for :project, url: '/projects' do |f| %>

  <div class="small-12 columns">
    <label>Link</label>
      <%= f.text_field :url , placeholder: "https:" %>
  </div>

  <div class="small-12 columns">
    <label>Title</label>
      <%= f.text_field :title , placeholder: "Title" %>
  </div>

  <div class="small-12 columns">
    <label>Summary</label>
      <%= f.text_field :summary , placeholder: "Summary" %>
  </div>

  <div class="small-12 columns">
    <td class="button postfix"><%= f.submit "Submit" %></td>
  </div>


  <% end %>
</div>