<div class='center-container'>
<div class="wrapper cards">
  <div class="container">
    <div class="card">

      <!-- Form for User-Created Project -->
        <div class="front">
          <% if current_user %>
          <div class="link">
            <%= form_for @project, :url => { :action => "scrape" }, :html => { :method => "get" },remote: true do |f| %>
              <!-- <label for="">Link</label> -->
              <h1 class="title">add a link</h1>
              <%= f.text_field :url , placeholder: "https:", id: "project_url" %>
              <td class="postfix" ><%= f.submit "Enter" %></td>
            <% end %>

            <div class="row-centered">
              <div><a id="create_project" class="button"> or Create your own</a></div>
            </div>
          </div>

          <div class="external_link">

            <%= form_for @project, html: { multipart: true } do |f| %>
              <div id='url-show'>
                <%= f.text_field :url %>
              </div>

              <div id='title-show'>
                <%= f.text_field :title %>
              </div>

              <div id='description-show'>
                <%= f.text_field :summary %>
              </div>

              <div id="image-show-upload">
                <%= f.text_field :image %>
              </div>

              <div id='image-show'></div>

              <div class="small-12 columns">
                <td class="button postfix"><%= f.submit "Submit" %></td>
              </div>
            <% end %>
          </div>

          <% else %>
          <%= fa_icon('home') %>
          <h6> Please Login or Signup</h6>
          <h6><%= link_to 'Login', login_path %></h6>
          <h6><%= link_to 'Signup', signup_path %></h6>

          <% end %>
        </div> <!--/ "front" -->

        <div class="back">
          <div class='test'><%= fa_icon('arrow-right 5x') %></div>
          <h1 class="title">start your project</h1>
          <%= form_for @project, html: { multipart: true } do |f| %>
            <%= f.fields_for :project_uploads, ProjectUpload.new do |ff| %>
            <%= ff.file_field :image_url, :multiple => true, name: "project[project_uploads_attributes][][image_url]" %>
            <% end %>

          <div class="spacer-m"></div>
          <%= f.text_field :title , placeholder: "Title" %>

          <div class="spacer-m"></div>
          <%= f.text_field :summary , placeholder: "Summary" %>

          <div class="spacer-m"></div>
          <%= f.text_field :instructions, class: 'instructions', placeholder: "Instructions" %>

          <div class="spacer-m"></div>
          <%= f.text_field :material, placeholder: "Materials", :size=>"50" %>

          <div class="spacer-m"></div>
          <%= f.text_field :time , placeholder: "Time(hrs)" %>

          <div class="spacer-m"></div>
          <%= f.text_field :cost , placeholder: "Cost($)" %>

          <div class="spacer-m"></div>
            <%= f.text_field :tag_list, value: f.object.tag_list.to_s, placeholder: "add your tags" %>

          <div class="spacer-m"></div>
          <%= f.submit %>
          <% end %>
        </div> <!--/ "back" -->
    </div> <!--/ "card" -->
  </div> <!--/ "container" -->
</div>
</div>