<div class='center-container'>
<div class="wrapper cards">
  <div class="container">
    <div class="card">

      <!-- Form for User-Created Project -->
        <div class="front">
          <div class="link">
            <%= form_for @project, :url => { :action => "scrape" }, :html => { :method => "get" },remote: true do |f| %>
              <!-- <label for="">Link</label> -->
              <!-- <p class="body_text_header">add your link here</p> -->
              <%= f.text_field :url , placeholder: "https:", id: "project_url" %>
              <td class="button postfix" ><%= f.submit "Enter" %></td>
            <% end %>

            <div class="row-centered">
              <div><a id="create_project" class="button">Create your own</a></div>
            </div>
          </div>

          <div class="external_link">
            <%= form_for @project, html: { multipart: true } do |f| %>
              <div id='url-show'>
                <%= f.text_field :url %>
              </div>

              <div id='title-show'>
                <%= f.text_field :title %>
              </div>

              <div id='description-show'>
                <%= f.text_field :summary %>
              </div>

              <div id="image-show-upload">
                <%= f.text_field :image %>
              </div>

              <div id='image-show'></div>

              <div class="small-12 columns">
                <td class="button postfix"><%= f.submit "Submit" %></td>
              </div>
            <% end %>
          </div>
        </div> <!--/ "front" -->

        <div class="back">
          <%= fa_icon('chevron-right') %>
          <h5>start your project here</h5>
          <%= form_for @project, html: { multipart: true } do |f| %>
            <%= f.fields_for :project_uploads, ProjectUpload.new do |ff| %>
            Image
            <%= ff.file_field :image_url, :multiple => true, name: "project[project_uploads_attributes][][image_url]" %>
            <% end %>

          <div class="spacer-m"></div>
          Title
          <%= f.text_field :title , placeholder: "Title" %>

          <div class="spacer-m"></div>
          Summary
          <%= f.text_field :summary , placeholder: "Summary" %>

          <div class="spacer-m"></div>
          Instructions
          <%= f.text_field :instructions, class: 'instructions', placeholder: "Instructions" %>

          <div class="spacer-m"></div>
          Materials
          <%= f.text_field :material, placeholder: "Materials" %>

          <div class="spacer-m"></div>
          Time (hours)
          <%= f.text_field :time , placeholder: "Time" %>

          <div class="spacer-m"></div>
          Cost (dollars)
          <%= f.text_field :cost , placeholder: "Cost" %>

          <div class="spacer-m"></div>
            Tags
            <%= f.text_field :tag_list, value: f.object.tag_list.to_s, placeholder: "add your tags" %>

          <div class="spacer-m"></div>
          <%= f.submit %>
          <% end %>
        </div> <!--/ "back" -->
    </div> <!--/ "card" -->
  </div> <!--/ "container" -->
</div>
</div>