<%-# Project Info -%>

  <td>
  <%= image_tag @project_uploads[0].image_url%>
  </td>
  
  <p># of Saves</p>
  <%= ProjectStatus.where(["project_id = ? and saves = ?", @project.id, true]).count %>
  <dt>Title</dt>
  <dd><%= @project.title %></dd>
  <dt>Summary</dt>
  <dd><%= @project.summary %></dd>
  <dt>Instructions</dt>
  <dd><%= @project.instructions %></dd>
  <dt>Cost</dt>
  <dd><%= @project.cost %></dd>
  <dt>Time</dt>
  <dd><%= @project.time %></dd>
  <dt>Material</dt>
  <dd><%= @project.material %></dd>
  <dt>URL</dt>
  <dd><%= @project.url %></dd>
  
<%-# Reviws are rendered to review partial  -%>
<h2>Reviews</h2>
  <% @project.reviews.reverse_each do |review| %>
  <%= render 'review', review:review %>
<% end %> 








    
