<% if current_user %>

<%-# the Save/Unsave button -%>
<div class="save-button-container">
  <div id="saves-count"><%= button_to "", [@project, @project_status], method: :patch, remote: true, params: { project_status: { saves: true } }, id: "save", class: "button flip save", name: "save-button" %></div>
  <div id="plus-icon" class="front"><span class="fa fa-plus" aria-hidden="true"></span></div>
  <div id="bookmark-icon" class="backside"><span class="fa fa-bookmark" aria-hidden="true"></span></div>
</div>
<% end %>


<h6>Number of Saved Projects</h6>
<div id="saves-count-show"><%= ProjectStatus.where(["project_id = ? and saves = ?", @project.id, true]).count %></div>

<% if current_user %>
<%-# Completed/Uncompleted button -%>
<div id="completes-count"><%= button_to "Complete", [@project, @project_status], method: :patch, remote: true, params: { project_status: { completes: true } } %></div>
<% end %>

<h6>Number of Completed Projects</h6>
<div id="completes-count-show"><%= ProjectStatus.where(["project_id = ? and completes = ?", @project.id, true]).count %></div>


<%-# Project Images -%>
<div>
<% if @project_uploads.blank? %>
  <p><em>No image for this project</em></p>
<% else %>
  <% @project_uploads.each do |img| %>
    <%= image_tag img.image_url %>
  <% end %>
<% end %>
<div>


<%-# Project Details -%>
<dt>Avg Rating</dt>
<dd><%= @project.avg_rating %></dd>
<dt>Title</dt>
<dd><%= @project.title %></dd>
<dt>Summary</dt>
<dd><%= @project.summary %></dd>
<dt>Instructions</dt>
<dd><%= @project.instructions %></dd>
<dt>Cost</dt>
<dd><%= @project.cost %></dd>
<dt>Time</dt>
<dd><%= @project.time %></dd>
<dt>Material</dt>
<dd><%= @project.material %></dd>
<dt>URL</dt>
<dd><%= @project.url %></dd>
<dt>Project's Tags</dt>
<dd><%=  raw @project.tags.map(&:name).map {|t| link_to t, tag_path(t)}.join(", ")%></dd>

<%-# Reviews are rendered to review partial  -%>
  <h2>Reviews</h2>
  <% @project.reviews.reverse_each do |review| %>
    <%= render 'review', review:review %>
  <% end %>


<%-# Review form displays only to logged in users -%>
  <% if current_user %>
    <%= form_for [@project, @review], html: { multipart: true } do |form| %>

      <%= form.label :rating %>
      <%= form.select(:rating) do %>
        <% [1, 2, 3, 4, 5].each do |c| -%>
          <%= content_tag(:option, c, value: c) %>
        <% end %>
      <% end %>

      <%= form.label :content %>
      <%= form.text_area :content, class: 'form-control' %>

      <%= form.label :time %>
      <%= form.text_area :time, class: 'form-control' %>

      <%= form.label :cost %>
      <%= form.text_area :cost, class: 'form-control' %>

      <%= form.fields_for :review_uploads, ReviewUpload.new do |ff| %>
        <%= ff.label :image %><br>
        <%= ff.file_field :image_url, :multiple => true, name: "review[review_uploads_attributes][][image_url]" %>
      <% end %>

      <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
