<div class="row-centered">
  <div class="column-flex-centered">
  <div class="spacer-l"></div>

    <div class="flex-row">
      <div>
        <h1><%= @project.title %></h1>
        <h4><em><%= @project.summary %></em></h4>
      </div>
    </div>

    <div class="flex-row">

      <!-- Image -->
      <div class="column-image">
        <% if @project_uploads.present? %>
          <%= image_tag @project_uploads.first.image_url %>
        <% elsif @project.image? %>
          <%= link_to @project.url do %>
            <%= image_tag @project.image %>
          <% end %>
        <% else %>
          <%= image_tag('/blueprint.jpeg') %>
        <% end %>
      </div>

      <div class="spacer-m"></div>

      <!-- Sidebar with Icons/Buttons -->
      <div class="column-sidebar">

        <div class="flex-row project-creator">
          <div><%= image_tag "https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png", class: "user-avatar"%></div>
          <div class="spacer-m"></div>
          <div>
          <h4>submitted by</h4>
          <h5><%= @project_creator_name %></h5>
          </div>
        </div>

        <div class="spacer-s"></div>
        <hr class="dividing-line">
        <div class="spacer-s"></div>

        <div class="star-rating-project-page">
          <% @project.avg_rating.to_i.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% end %>
          <% if (@project.avg_rating % 1 != 0) %>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <% (4 - @project.avg_rating.to_i).times do %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            <% end %>
          <% elsif (@project.avg_rating % 1 == 0) %>
            <% (5 - @project.avg_rating.to_i).times do %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>

        <div class="spacer-s"></div>
        <hr class="dividing-line">
        <div class="spacer-s"></div>

        <!-- Share Buttons -->
        <div class="share-button-row">
          <div>
            <span class="pinterest-share" data-js="pinterest-share"><i class="fa fa-pinterest fa-2x"></i></span>
          </div>
          <div>
            <span class="twitter-share" data-js="twitter-share"><i class="fa fa-twitter fa-2x"></i></span>
          </div>
          <div>
            <span class="facebook-share" data-js="facebook-share"><i class="fa fa-facebook-official fa-2x"></i></span>
          </div>
        </div>

        <div class="spacer-s"></div>
        <hr class="dividing-line">
        <div class="spacer-s"></div>

        <!-- Save/Complete Buttons -->
        <div class="flex-row">
        <div>
        <% if current_user %>

          <!-- COMPLETE BUTTON -->
          <% if @complete_status == "true" %>
            <% complete_variable = "start-complete" %>
            <% complete_text = "Completed!" %>
          <% else %>
            <% complete_variable = "start-not-complete" %>
            <% complete_text = "Mark Complete" %>
          <% end %>

          <div id="completes-count">
            <%= button_to complete_text, [@project, @project_status], method: :patch, remote: true, params: { project_status: { completes: true } }, :form_class => complete_variable, :id => "complete-button-text" %>
          </div>

          <div class=spacer-s></div>

          <!-- SAVE BUTTON -->
          <% if @save_status == "true" %>
            <% start_variable = "start-complete" %>
            <% start_text = "Saved to Favourites!" %>
          <% else %>
            <% start_variable = "start-not-complete" %>
            <% start_text = "Add to Favourites" %>
          <% end %>

          <div id="saves-count" ><%= button_to start_text, [@project, @project_status],  method: :patch, remote: true, params: { project_status: { saves: true } }, :form_class => start_variable, :id => "save-button-text" %>
          </div>

        <% end %>
        </div>
        </div>

        <div class="spacer-s"></div>
        <hr class="dividing-line">
        <div class="spacer-s"></div>

        <div class="row-project-details-text">
          <h3>Tags</h3>
          <h5><%= raw @project.tags.map(&:name).map {|t| link_to t, tag_path(t)}.join(", ") %></h5>
        </div>

      </div><!--/ 'sidebar-column' -->
    </div><!--/ 'flex-row' -->

    <!-- Bottom Section -->
    <div class="project-tabs">

        <ul class="tabs-project">
          <li class="active">Instructions</li>
          <li>Reviews</li>
          <li>Submit Review</li>
        </ul>

        <ul class="tab__content">
          <li class="active">
            <div class="content__wrapper">
              <% if @project.url.present? %>
                <p>Project URL: <span class="bold"><%= link_to @project.url, @project.url , :target => "_blank" %></span></p>
                <% else %>
                  <p>Project Instructions: <%= @project.instructions %></p>
                  <p>Project Cost: <%= @project.cost %></p>
                  <p>Project Time: <%= @project.time %></p>
                  <p>Project Material: <%= @project.material %></p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="content__wrapper">
              <%-# Reviews are rendered to review partial  -%>
              <% @project.reviews.reverse_each do |review| %>
              <%= render 'review', review:review %>
              <% end %>
            </div>
          </li>
          <li>
            <div class="content__wrapper">
            <%= render 'form_review' %>
            </div>
          </li>
        </ul>
      <div>
      </div>
    </div><!--/ 'project-tabs' -->
  </div><!-- / 'column-flex-centered' -->
</div><!-- / 'row-centered' -->
