<div class="center-container">
  <div class="row-centered">
    <div class="shadow-box">
      <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
        <h3>Update your profile</h3>
        <%= f.label :first %>
        <%= f.text_field :first_name, class: 'form-control' %>
        <div class="spacer-m"></div>
        <%= f.label :last %>
        <%= f.text_field :last_name, class: 'form-control' %>
        <div class="spacer-m"></div>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <div class="spacer-m"></div>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <div class="spacer-m"></div>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <div class="spacer-m"></div>
        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div
