<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  F_Name: <%= f.text_field :first_name %>
  L_Name: <%= f.text_field :last_name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
  
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
    </div>
    
<% end %>

