<div class="center-container">
  <div class="row-centered">
    <div class="shadow-box">
      <%= form_for :user, url: "/users" do |f| %>
      <h3>Sign Up</h3>
      <div class="spacer-m">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
        First Name: <%= f.text_field :first_name %>
      <div class="spacer-m"></div>
        Last Name: <%= f.text_field :last_name %>
      <div class="spacer-m"></div>
        Email: <%= f.text_field :email %>
      <div class="spacer-m"></div>
        Password: <%= f.password_field :password %>
      <div class="spacer-m"></div>
        Password Confirmation: <%= f.password_field :password_confirmation %>
      <div class="spacer-m"></div>
        <%= f.submit "Submit" %>
      <% end %>
    </div><!--/ "shadow-box" -->
  </div><!--/ "row-centered" -->
</div><!--/ "center-container" -->
