<div class="main-profile">
  <div class="top-profile">
    <div class="user-profile">
      <%= image_tag('/user.png', :class => "user-profile-pic") %>
    </div>
    <h2 class="user-name"><%= current_user.first_name %> <%= current_user.last_name %></h2>
  </div>
  <ul class="profile-tab-bar">
    <li><a id="saved-projects-button" class="button tab-selected">Saved Projects</a></li> 
    <li class="spacer-m"></li>  
    <li><a id="created-projects-button" class="button">Created Projects</a></li>
    <li class="spacer-m"></li>
    <li><a id="completed-projects-button" class="button">Completed Projects</a></li>
  </ul>
  <div class="profile-row">
    <div class="medium-9 columns">
      <div id="saved_projects">
        <%= render(:partial => 'projects/project', :collection => @saved_projects) %>
      </div>
      <div id="created_projects" class="hide">
        <%= render(:partial => 'projects/project', :collection => @created_projects) %>
      </div>
      <div id="completed_projects" class="hide">
        <%= render(:partial => 'projects/project', :collection => @completed_projects) %>
      </div>
    </div>
  </div>
</div>