
<h1>My Profile</h1>
<p>show index of all my saved projects</p>


<div class="row">
  <div class="medium-9 columns">
    <%= render 'layouts/project_thumbnail' %>
    <%= render 'layouts/project_thumbnail' %>
    <%= render 'layouts/project_thumbnail' %>
    <%= render 'layouts/project_thumbnail' %>
    <%= render 'layouts/project_thumbnail' %>
    <%= render 'layouts/project_thumbnail' %>
    <%= render 'layouts/project_thumbnail' %>
    <%= render 'layouts/project_thumbnail' %>
    <%= render 'layouts/project_thumbnail' %>
    <%= render 'layouts/project_thumbnail' %>
</div>
  <div class="medium-3 columns">
    <div class="profile-bar">
      <p>content here</p>
    </div>
  </div>
</div>