<div class="top-bar-container" data-sticky-container>
  <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
    <div class="top-bar">

      <div class="top-bar-title">
        <%= link_to 'Site Title', '/' %>
      </div>

      <div>
        <!-- Left Nav Section -->
        <div class="top-bar-left">
          <div>
            <%= form_tag("/search", method: "get") do %>

                <%= label_tag "Search for" %>

                <%= text_field_tag :q, params[:q] %>

                <%= submit_tag "Go ", name: nil %>

            <% end %>
          </div>
          <div>
            <% if @projects.nil? %>
              <% elsif @projects.size == 0 %>
              No results
              <% else %>
              <%= @projects.size %> Project(s)
            <% end %>
          </div>
        </div>
        <!-- Right Nav Section -->
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <% if current_user %>
              <li class="has-submenu">
                <span class="fa fa-user-circle-o fa-2x"></span>
                <ul class="submenu menu vertical" data-submenu>
                  <li><%= link_to 'Profile', user_path(current_user)%></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li><%= link_to 'Logout', logout_path %></li>
                </ul>
              </li>

            <% else %>
              <li class="has-submenu">
                <a href="#">Login</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><%= link_to 'Login', login_path %></li>
                  <li><%= link_to 'Signup', signup_path %></li>
                </ul>
              </li>
            <% end %>
            <li class="divider"></li>
            <li class="new_project"><%= link_to 'Add Project', new_project_path %></li>
          </ul>
        </div><!-- /top-bar-right -->
      </div>
    </div><!-- /top-bar -->
  </div><!-- /sticky sticky-topbar -->
</div><!-- /top-bar-container -->