<div class="navbar">
  <!-- Left Nav Section -->
  <div>
    <div>
      <%= link_to 'Site Title', '/' %>
    </div>
    <div>
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag "Search for" %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag "Go ", name: nil, class: "button" %>
      <% end %>
    </div>
  </div>

  <!-- Right Nav Section -->
  <div>
    <% if current_user %>
    <div>
  <!--     <span class="fa fa-user-circle-o fa-2x"></span> -->
      <span><%= link_to 'Profile', user_path(current_user)%></span>
      <span><%= link_to "Settings", edit_user_path(current_user) %></span>
      <span><%= link_to 'Logout', logout_path %></span>
    </div>

    <% else %>
    <div>
      <span><%= link_to 'Login', login_path %></span>
      <span><%= link_to 'Signup', signup_path %></span>
    </div>
    <% end %>
    <div>
      <span><%= link_to 'Add Project', new_project_path %></span>
    </div>
  </div>
</div>
