<div class="nav-bar">
  <div class="nav-bar-title">
    <%= link_to 'Site Title', '/' %>
  </div>
    <!-- Left Nav Section -->
  <div class="nav-bar-left">
    <div class="center-search">
      <%= form_tag("/search", method: "get", class:"search-menu") do %>
          <%= text_field_tag :q, params[:q], class:"search-bar", placeholder:"Search" %>
          <div class="fa fa-search fa-2x"></div>
          <%= submit_tag "Go", class: "button search-button", name: nil %>
      <% end %>
    </div>
  </div> <!-- Left Nav -->
  <!-- Right Nav Section -->
  <div class="nav-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <% if current_user %>
        <li class="has-submenu">
          <span class="fa fa-user-circle-o fa-3x">
            <ul class="submenu menu vertical" data-submenu>
              <li><%= link_to 'Profile', user_path(current_user)%></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to 'Logout', logout_path %></li>
            </ul>
          </span>
         <a href="/projects/new" class="fa fa-plus-circle fa-3x"></a>
        </li>
      </ul>
      <% else %>
      <span class="fa fa fa-sign-in fa-3x">
        <li class="vertical">
          <ul class="login-signup" data-submenu>
            <li><%= link_to 'Login', login_path %></li>
            <li><%= link_to 'Signup', signup_path %></li>
          </ul>
        </li>
      </span>
      <% end %>
  </div><!-- /nav-bar-right -->
</div><!-- /nav-bar -->